<!DOCTYPE html>

<head>
    <title>404-Page not found</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="error">
            <h1>404</h1>
        </div>
        <img class="portrait" src="/img/404error.jpg" alt="">
    </div>
    
    {{>footer}}
</body>
</html>





